#menu {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: #FF4924;
    height: 50px;
    border-radius: 10px;
}

#drinks {
    height: 70vh;
    border-radius: 5px;
    background: white;
    padding: 15px;
}

.flex-quebra {
    flex-wrap: wrap;
}
.justifica-entre {
    justify-content: space-between;
}


.card {
    flex-basis: calc(50% - 30px);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 1px rgba(1,1,2,0.2);
}
.flex-padrao {
    display: flex;
}
.flex-coluna {
    flex-direction: column;
}

.flex-alinhar-centro {
    align-items: center;
}
.titulo-drink {
    font-size: 24px;
}
.ingredientes {
    color: #D9D9D9;
    font-size: 14px;
}
.linha-base {
    align-items: baseline;
}
.valor {
  font-size: 48px;
}
.dose {
    color: #FF4924;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.default-title{ 
    color: white;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url("../assets/bg.jpg");
}
